Java-Full-Stack-Master/Lab Book Assingnments (XML)/1_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmailData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Email">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="To" type="xs:string" />
              <xs:element name="From" type="xs:string" />
              <xs:element name="CC" type="xs:string" />
              <xs:element name="BCC" type="xs:string" />
              <xs:element name="Subject" type="xs:string" />
              <xs:element name="Body" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
