Java-Full-Stack-Master/Lab Book Assingnments (XML)/1_3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EmployeeName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FirstName" type="xs:string" />
                    <xs:element name="LastName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DOJ" type="xs:string" />
              <xs:element name="TotalExperience" type="xs:string" />
              <xs:element name="Department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Unit" type="xs:string" />
                    <xs:element name="LOC" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Designation" type="xs:string" />
              <xs:element name="Salary" type="xs:string" />
              <xs:element name="Grade" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="EmployeeCode" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>