Java-Full-Stack-Master/Lab Book Assingnments (XML)/1_4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EmployeeName" type="xs:string" />
              <xs:element name="JOB" type="xs:string" />
              <xs:element name="MGR" type="xs:unsignedShort" />
              <xs:element name="HIREDATE" type="xs:string" />
              <xs:element name="Salary" type="xs:string" />
              <xs:element name="COMM" type="xs:string" />
              <xs:element name="DEPTNO" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="EmployeeNo" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>