Java-Full-Stack-Master/Lab Book Assingnments (XML)/2_3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Library">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Author" type="xs:string" />
              <xs:element name="Publisher" type="xs:string" />
              <xs:element name="Cover">
                <xs:complexType>
                  <xs:attribute name="cover_type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Category">
                <xs:complexType>
                  <xs:attribute name="cat_type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ISBN">
                <xs:complexType>
                  <xs:attribute name="isbn_num" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Rating">
                <xs:complexType>
                  <xs:attribute name="rate_Val" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Price" type="xs:string" />
              <xs:element name="Comments" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>